{
  "openapi": "3.0.4",
  "info": {
    "title": "Canva Connect API",
    "description": "API for building integrations with Canva via a REST api",
    "termsOfService": "https://www.canva.com/trust/legal/",
    "contact": {
      "name": "Canva Developer Community",
      "url": "https://community.canva.dev/"
    },
    "license": {
      "name": "\u00A92023 All Rights Reserved"
    },
    "version": "2024-06-18"
  },
  "servers": [
    {
      "url": "https://api.canva.com/rest",
      "description": "Canva Connect API"
    }
  ],
  "paths": {
    "/v1/designs/{designId}/analytics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\n\u003CAvailability\u003E\nTo use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n\u003C/Availability\u003E\n\nGets the aggregated analytics for a design.\n\nThe response includes total views, unique viewers, and view duration metrics.",
        "operationId": "GetDesignAnalytics",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_invalid_design_id": {
                    "$ref": "#/components/examples/AnalyticsInvalidDesignIdError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/analytics/viewers": {
      "get": {
        "tags": [
          "analytics"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\n\u003CAvailability\u003E\nTo use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n\u003C/Availability\u003E\n\nLists viewers for a design, ordered by most recent view first.",
        "operationId": "GetDesignAnalyticsViewers",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          },
          {
            "name": "link_id",
            "in": "query",
            "description": "Filters viewers by a specific trackable link. If omitted, only viewers who visited the design without using a trackable link are returned.",
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string",
              "example": "hddb98a3716"
            }
          },
          {
            "name": "first_viewed_after",
            "in": "query",
            "description": "Only returns viewers whose first view happened after this time, as a Unix timestamp (in seconds since the Unix Epoch).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1745452800
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of viewers to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50,
              "example": 50
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "description": "If the success response contains a continuation token, there are more viewers you can list. You can use this token as a query parameter and retrieve more viewers from the list, for example \u0060/v1/designs/{designId}/analytics/viewers?continuation={continuation}\u0060.\n\nTo retrieve all viewers, you might need to make multiple requests.",
            "schema": {
              "type": "string",
              "example": "RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsViewersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_invalid_query_parameter": {
                    "$ref": "#/components/examples/ExpectedLongQueryParam"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/analytics/views-over-time": {
      "get": {
        "tags": [
          "analytics"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\n\u003CAvailability\u003E\nTo use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n\u003C/Availability\u003E\n\nLists the view counts over time for a design.\n\nEach response item represents one time bucket.",
        "operationId": "GetDesignAnalyticsViewsOverTime",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "The inclusive start of the requested time range, as a Unix timestamp (in seconds since the Unix Epoch).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1745452800
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "The inclusive end of the requested time range, as a Unix timestamp (in seconds since the Unix Epoch).",
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1748044800
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "The timezone to use for bucketing, as a UTC offset in the form \u0060\u002BHH:MM\u0060 (for example, \u0060\u002B10:00\u0060).",
            "schema": {
              "type": "string",
              "default": "\u002B00:00",
              "example": "600"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of time buckets to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50,
              "example": 50
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "description": "If the success response contains a continuation token, there are more time buckets you can list. You can use this token as a query parameter and retrieve more time buckets from the list, for example \u0060/v1/designs/{designId}/analytics/views-over-time?continuation={continuation}\u0060.\n\nTo retrieve all time buckets, you might need to make multiple requests.",
            "schema": {
              "type": "string",
              "example": "RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsViewsOverTimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_invalid_query_parameter": {
                    "$ref": "#/components/examples/ExpectedLongQueryParam"
                  },
                  "analytics_invalid_time_range": {
                    "$ref": "#/components/examples/AnalyticsInvalidTimeRangeError"
                  },
                  "analytics_invalid_timezone": {
                    "$ref": "#/components/examples/AnalyticsInvalidTimezoneError"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/analytics/page-views": {
      "post": {
        "tags": [
          "analytics"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\n\u003CAvailability\u003E\nTo use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n\u003C/Availability\u003E\n\nLists the page-level view duration data for a design.\n\nThe request body can include page filters and pagination controls.",
        "operationId": "GetDesignAnalyticsPageViews",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDesignAnalyticsPageViewsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsPageViewsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_invalid_request_body": {
                    "$ref": "#/components/examples/FailedToReadRequestBody"
                  },
                  "analytics_invalid_page_views_filter": {
                    "$ref": "#/components/examples/AnalyticsInvalidPageViewsFilterError"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/analytics/links": {
      "get": {
        "tags": [
          "analytics"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\n\u003CAvailability\u003E\nTo use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n\u003C/Availability\u003E\n\nLists trackable links and their metrics for a design.",
        "operationId": "GetDesignAnalyticsLinks",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of links to return per page.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 50,
              "example": 50
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "description": "If the success response contains a continuation token, there are more links you can list. You can use this token as a query parameter and retrieve more links from the list, for example \u0060/v1/designs/{designId}/analytics/links?continuation={continuation}\u0060.\n\nTo retrieve all links, you might need to make multiple requests.",
            "schema": {
              "type": "string",
              "example": "RkFGMgXlsVTDbMd:MR3L0QjiaUzycIAjx0yMyuNiV0OildoiOwL0x32G4NjNu4FwtAQNxowUQNMMYN"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAnalyticsLinksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_invalid_query_parameter": {
                    "$ref": "#/components/examples/ExpectedLongQueryParam"
                  },
                  "analytics_invalid_continuation_token": {
                    "$ref": "#/components/examples/AnalyticsInvalidContinuationError"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_access_token": {
                    "$ref": "#/components/examples/InvalidAccessToken"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_permission_denied": {
                    "$ref": "#/components/examples/AnalyticsPermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "analytics_design_not_found": {
                    "$ref": "#/components/examples/AnalyticsDesignNotFoundError"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_requests": {
                    "$ref": "#/components/examples/TooManyRequestsError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:read"
            ]
          }
        ]
      }
    },
    "/v1/apps/{appId}/jwks": {
      "get": {
        "tags": [
          "app"
        ],
        "description": "Returns the Json Web Key Set (public keys) of an app. These keys are used to\nverify JWTs sent to app backends.",
        "operationId": "GetAppJwks",
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "description": "The app ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAppJwksResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "auth_keys_not_found": {
                    "$ref": "#/components/examples/AuthKeysNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/assets/{assetId}": {
      "delete": {
        "tags": [
          "asset"
        ],
        "description": "You can delete an asset by specifying its \u0060assetId\u0060. This operation mirrors the behavior\nin the Canva UI. Deleting an item moves it to the trash.\nDeleting an asset doesn\u0027t remove it from designs that already use it.",
        "operationId": "DeleteAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "The ID of the asset.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_delete_not_allowed": {
                    "$ref": "#/components/examples/AssetDeleteNotAllowedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ]
      },
      "get": {
        "tags": [
          "asset"
        ],
        "description": "You can retrieve the metadata of an asset by specifying its \u0060assetId\u0060.",
        "operationId": "GetAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "The ID of the asset.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_access_not_allowed": {
                    "$ref": "#/components/examples/AssetAccessNotAllowedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "asset"
        ],
        "description": "You can update the name and tags of an asset by specifying its \u0060assetId\u0060. Updating the tags\nreplaces all existing tags of the asset.",
        "operationId": "UpdateAsset",
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "description": "The ID of the asset.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAssetResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_update_not_allowed": {
                    "$ref": "#/components/examples/AssetUpdateNotAllowedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ]
      }
    },
    "/v1/asset-uploads": {
      "post": {
        "tags": [
          "asset"
        ],
        "description": "Starts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to upload an asset to the user\u0027s content library. Supported file types for assets are listed in the [Assets API overview](https://www.canva.dev/docs/connect/api-reference/assets/).\n\nThe request format for this endpoint is an \u0060application/octet-stream\u0060 body of bytes. Attach\ninformation about the upload using an \u0060Asset-Upload-Metadata\u0060 header.\n\n\n\u003CNote\u003E\n\nFor more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of asset upload jobs created with this API using the [Get asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/get-asset-upload-job/).\n\n\u003C/Note\u003E",
        "operationId": "CreateAssetUploadJob",
        "parameters": [
          {
            "name": "Asset-Upload-Metadata",
            "in": "header",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AssetUploadMetadata"
            }
          }
        ],
        "requestBody": {
          "description": "Binary of the asset to upload.",
          "content": {
            "application/octet-stream": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetUploadJobOctetStreamRequestRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAssetUploadJobResponse"
                },
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ]
      }
    },
    "/v1/asset-uploads/{jobId}": {
      "get": {
        "tags": [
          "asset"
        ],
        "description": "Get the result of an asset upload job that was created using the [Create asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/create-asset-upload-job/).\n\nYou might need to make multiple requests to this endpoint until you get a \u0060success\u0060 or \u0060failed\u0060 status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).",
        "operationId": "GetAssetUploadJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The asset upload job ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetUploadJobResponse"
                },
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_access_not_allowed": {
                    "$ref": "#/components/examples/AssetAccessNotAllowedError"
                  },
                  "asset_upload_job_not_creator": {
                    "$ref": "#/components/examples/AssetUploadJobNotCreatorError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "asset_not_found": {
                    "$ref": "#/components/examples/AssetNotFoundError"
                  },
                  "asset_upload_job_not_found": {
                    "$ref": "#/components/examples/AssetUploadJobNotFoundError"
                  },
                  "job_id_not_found": {
                    "$ref": "#/components/examples/AssetJobIdNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:read"
            ]
          }
        ]
      }
    },
    "/v1/url-asset-uploads": {
      "post": {
        "tags": [
          "asset"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\nStarts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to upload an asset from a URL to the user\u0027s content library. Supported file types for assets are listed in the [Assets API overview](https://www.canva.dev/docs/connect/api-reference/assets/).\n\n\u003CNote\u003E\n Uploading a video asset from a URL is limited to a maximum 100MB file size. For importing larger video files, use the [Create asset upload job API](https://www.canva.dev/docs/connect/api-reference/assets/create-asset-upload-job/).\n\u003C/Note\u003E\n\n\u003CNote\u003E\nFor more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of asset upload jobs created with this API using the [Get asset upload job via URL API](https://www.canva.dev/docs/connect/api-reference/assets/get-url-asset-upload-job/).\n\u003C/Note\u003E",
        "operationId": "CreateUrlAssetUploadJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUrlAssetUploadJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUrlAssetUploadJobResponse"
                },
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "url_invalid": {
                    "$ref": "#/components/examples/AssetUrlInvalidError"
                  },
                  "asset_upload_already_exists": {
                    "$ref": "#/components/examples/AssetUploadAlreadyExistsError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "job_with_id_not_found": {
                    "$ref": "#/components/examples/AssetJobWithIdNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:write"
            ]
          }
        ]
      }
    },
    "/v1/url-asset-uploads/{jobId}": {
      "get": {
        "tags": [
          "asset"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\nGet the result of an asset upload job that was created using the [Create asset upload job via URL API](https://www.canva.dev/docs/connect/api-reference/assets/create-url-asset-upload-job/).\n\nYou might need to make multiple requests to this endpoint until you get a \u0060success\u0060 or \u0060failed\u0060 status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).",
        "operationId": "GetUrlAssetUploadJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The asset upload job ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUrlAssetUploadJobResponse"
                },
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAssetUploadJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAssetUploadJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAssetUploadJobExample"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "get_this_job_status_not_allowed": {
                    "$ref": "#/components/examples/GetThisJobStatusNotAllowedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "job_not_found": {
                    "$ref": "#/components/examples/AssetJobNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "asset:read"
            ]
          }
        ]
      }
    },
    "/v1/autofills": {
      "post": {
        "tags": [
          "autofill"
        ],
        "description": "\u003CAvailability\u003E\nTo use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n\nUsers on Canva paid plans have access to a limited trial while your integration is under development. For more information, see [Trial quotas](https://www.canva.dev/docs/connect/api-requests-responses/#trial-quotas).\n\u003C/Availability\u003E\n\nStarts a new [asynchronous job](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints) to autofill a Canva design using input data. Use the \u0060type\u0060 field to choose the source of the design:\n\n- \u0060create_from_brand_template\u0060: autofill a new design from a brand template. If \u0060type\u0060 isn\u0027t specified in the request, the request type is assumed to be \u0060create_from_brand_template\u0060. To get a list of input data fields for a brand template, use the [Get brand template dataset API](https://www.canva.dev/docs/connect/api-reference/brand-templates/get-brand-template-dataset/).\n- \u0060create_from_design\u0060: autofill a new design from an existing design that contains autofill data fields. To get the input data fields for an existing design, use the [Get design dataset\nAPI](https://www.canva.dev/docs/connect/api-reference/designs/get-design-dataset/).\n- \u0060update_design\u0060: autofill an existing design in place, rather than creating a new design. To get the input data fields for the design, use the [Get design dataset API](https://www.canva.dev/docs/connect/api-reference/designs/get-design-dataset/).\n\nData fields in brand templates or designs might change (for example, they might be renamed or removed). If you provide data for a field name that doesn\u0027t exist, it\u0027s silently skipped. Use the Get dataset APIs to confirm the current fields before creating an autofill job.\n\nAvailable data field types to autofill include:\n\n- Images (which you can autofill with an image or a video asset)\n- Text\n- Charts\n- Sheets\n\nNOTE: For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints). You can check the status and get the results of autofill jobs created with this API using the [Get design autofill job API](https://www.canva.dev/docs/connect/api-reference/autofills/get-design-autofill-job/).",
        "operationId": "CreateDesignAutofillJob",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDesignAutofillJobRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDesignAutofillJobResponse"
                },
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAutofillJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAutofillJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAutofillJobExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "design_title_invalid": {
                    "$ref": "#/components/examples/DesignTitleInvalidError"
                  },
                  "chart_data_processing_unsupported": {
                    "$ref": "#/components/examples/ChartDataProcessingUnsupportedError"
                  },
                  "invalid_brand_template_id": {
                    "$ref": "#/components/examples/InvalidBrandTemplateIdError"
                  },
                  "design_not_fillable": {
                    "$ref": "#/components/examples/DesignNotFillableError"
                  },
                  "autofill_data_invalid": {
                    "$ref": "#/components/examples/AutofillDataInvalidError"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "brand_template_forbidden": {
                    "$ref": "#/components/examples/BrandTemplateForbiddenError"
                  },
                  "autofill_design_forbidden": {
                    "$ref": "#/components/examples/AutofillDesignForbiddenError"
                  },
                  "autofill_feature_forbidden": {
                    "$ref": "#/components/examples/AutofillFeatureForbiddenError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "brand_template_not_found": {
                    "$ref": "#/components/examples/BrandTemplateNotFoundError"
                  },
                  "autofill_design_not_found": {
                    "$ref": "#/components/examples/AutofillDesignNotFoundError"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeatureQuotaExceededError"
                },
                "examples": {
                  "autofill_feature_quota_exceeded": {
                    "$ref": "#/components/examples/AutofillFeatureQuotaExceededError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:content:write"
            ]
          }
        ]
      }
    },
    "/v1/autofills/{jobId}": {
      "get": {
        "tags": [
          "autofill"
        ],
        "description": "\u003CAvailability\u003E\nTo use this API, your integration must act on behalf of a user who is a member of a [Canva Enterprise](https://www.canva.com/enterprise/) organization.\n\nUsers on Canva paid plans have access to a limited trial while your integration is under development. For more information, see [Trial quotas](https://www.canva.dev/docs/connect/api-requests-responses/#trial-quotas).\n\u003C/Availability\u003E\n\nGet the result of a design autofill job that was created using the [Create design autofill job\nAPI](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).\n\nYou might need to make multiple requests to this endpoint until you get a \u0060success\u0060 or \u0060failed\u0060 status. For more information on the workflow for using asynchronous jobs, see [API requests and responses](https://www.canva.dev/docs/connect/api-requests-responses/#asynchronous-job-endpoints).",
        "operationId": "GetDesignAutofillJob",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The design autofill job ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDesignAutofillJobResponse"
                },
                "examples": {
                  "in_progress": {
                    "$ref": "#/components/examples/InProgressAutofillJobExample"
                  },
                  "success": {
                    "$ref": "#/components/examples/SuccessAutofillJobExample"
                  },
                  "failed": {
                    "$ref": "#/components/examples/FailedAutofillJobExample"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "design_autofill_job_not_found": {
                    "$ref": "#/components/examples/DesignAutofillJobNotFoundError"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "design_autofill_job_forbidden": {
                    "$ref": "#/components/examples/DesignAutofillJobForbiddenError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "design:meta:read"
            ]
          }
        ]
      }
    },
    "/v1/brand-templates": {
      "get": {
        "tags": [
          "brand_template"
        ],
        "description": "AVAILABILITY: To use this API, your integration must act on behalf of a user that\u0027s on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).\n\nGet a list of the [brand templates](https://www.canva.com/help/publish-team-template/) the user has access to.",
        "operationId": "ListBrandTemplates",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Lets you search the brand templates available to the user using a search term or terms.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "description": "If the success response contains a continuation token, the user has access to more\nbrand templates you can list. You can use this token as a query parameter and retrieve\nmore templates from the list, for example\n\u0060/v1/brand-templates?continuation={continuation}\u0060.\nTo retrieve all the brand templates available to the user, you might need to make\nmultiple requests.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of brand templates to return.",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "ownership",
            "in": "query",
            "description": "Filter the list of brand templates based on the user\u0027s ownership of the brand templates.",
            "schema": {
              "$ref": "#/components/schemas/OwnershipType"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort the list of brand templates.",
            "schema": {
              "$ref": "#/components/schemas/SortByType"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "description": "Filter the list of brand templates based on the brand templates\u0027 dataset definitions.\nBrand templates with dataset definitions are mainly used with the [Autofill APIs](https://www.canva.dev/docs/connect/api-reference/autofills/).",
            "schema": {
              "$ref": "#/components/schemas/DatasetFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBrandTemplatesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_continuation": {
                    "$ref": "#/components/examples/InvalidContinuationError"
                  },
                  "design_type_not_available": {
                    "$ref": "#/components/examples/DesignTypeNotAvailableError"
                  },
                  "unable_to_fetch_designs": {
                    "$ref": "#/components/examples/UnableToFetchDesignsError"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "find_brand_templates_forbidden": {
                    "$ref": "#/components/examples/FindBrandTemplatesForbiddenError"
                  },
                  "not_allowed_to_access_design_list": {
                    "$ref": "#/components/examples/ListDesignsForbiddenError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:meta:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "brand_template"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\nAVAILABILITY: To use this API, your integration must act on behalf of a user that\u0027s on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise). Additionally, the user must have one of the following [roles](https://www.canva.com/help/roles-and-permissions/): Team admin, Brand designer, Organization admin, or Organization designer.\n\nPublishes a design as a [brand template](https://www.canva.com/help/publish-team-template/). Brand templates are design templates that can be shared across a team for consistent content creation.\n\nThis API supports two workflows:\n\n- **Initial publish**: If the design is not linked to an existing brand template, a new brand template is created.\n- **Republish**: If the design is a draft of an existing brand template (created by editing an existing template), the existing template is updated with the changes.\n\nThe API returns the published brand template immediately.\n\n\u003CNote\u003E\nThe \u0060thumbnail\u0060 field might be \u0060null\u0060 immediately after publishing, as thumbnails are generated asynchronously. You can use the [Get brand template API](https://www.canva.dev/docs/connect/api-reference/brand-templates/get-brand-template/) to retrieve the thumbnail once it\u0027s ready. The brand template\u0027s \u0060view_url\u0060 and \u0060create_url\u0060 are available immediately.\n\u003C/Note\u003E",
        "operationId": "PublishBrandTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublishBrandTemplateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishBrandTemplateResponse"
                },
                "examples": {
                  "success": {
                    "$ref": "#/components/examples/PublishBrandTemplateSuccessExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - includes validation errors and other bad request errors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "invalid_design_id": {
                    "$ref": "#/components/examples/InvalidDesignIdError"
                  },
                  "resource_limit_exceeded": {
                    "$ref": "#/components/examples/ResourceLimitExceededError"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "publish_permission_denied": {
                    "$ref": "#/components/examples/PublishPermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "publish_brand_template_design_not_found": {
                    "$ref": "#/components/examples/PublishBrandTemplateDesignNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:content:write"
            ]
          }
        ]
      }
    },
    "/v1/brand-templates/{brandTemplateId}": {
      "get": {
        "tags": [
          "brand_template"
        ],
        "description": "AVAILABILITY: To use this API, your integration must act on behalf of a user that\u0027s on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).\n\nRetrieves the metadata for a brand template.",
        "operationId": "GetBrandTemplate",
        "parameters": [
          {
            "name": "brandTemplateId",
            "in": "path",
            "description": "The brand template ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandTemplateResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "get_brand_template_permission_denied": {
                    "$ref": "#/components/examples/GetBrandTemplatePermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "get_brand_template_not_found": {
                    "$ref": "#/components/examples/GetBrandTemplateNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:meta:read"
            ]
          }
        ]
      }
    },
    "/v1/brand-templates/{brandTemplateId}/dataset": {
      "get": {
        "tags": [
          "brand_template"
        ],
        "description": "AVAILABILITY: To use this API, your integration must act on behalf of a user that\u0027s on a Canva plan with access to brand templates (such as Canva Pro, Canva Teams, or Canva Enterprise).\n\nGets the dataset definition of a brand template. If the brand\ntemplate contains autofill data fields, this API returns an object with the data field\nnames and the type of data they accept.\n\n\u003CNote\u003E\n\nTo get the dataset definition of a design, use the\n[Get design dataset API](https://www.canva.dev/docs/connect/api-reference/designs/get-design-dataset/).\n\n\u003C/Note\u003E\n\nAvailable data field types include:\n\n- Images (which you can autofill with an image or a video asset)\n- Text\n- Charts\n\nYou can autofill a brand template using the [Create a design autofill job\nAPI](https://www.canva.dev/docs/connect/api-reference/autofills/create-design-autofill-job/).\n\nWARNING: Chart data fields and autofilling a video are [preview features](https://www.canva.dev/docs/connect/#preview-apis). There might be unannounced breaking changes to these features which won\u0027t produce a new API version.",
        "operationId": "GetBrandTemplateDataset",
        "parameters": [
          {
            "name": "brandTemplateId",
            "in": "path",
            "description": "The brand template ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandTemplateDatasetResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "get_brand_template_dataset_permission_denied": {
                    "$ref": "#/components/examples/GetBrandTemplateDatasetPermissionDeniedError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "get_brand_template_dataset_not_found": {
                    "$ref": "#/components/examples/GetBrandTemplateDatasetNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "brandtemplate:content:read"
            ]
          }
        ]
      }
    },
    "/v1/comments": {
      "post": {
        "tags": [
          "comment"
        ],
        "description": "\u003CWarning\u003E\n\nThis preview API is deprecated. You should use the [Create thread](https://www.canva.dev/docs/connect/api-reference/comments/create-thread/) API instead.\n\n\u003C/Warning\u003E\n\nCreate a new top-level comment on a design.\nFor information on comments and how they\u0027re used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/). A design can have a maximum\nof 1000 comments.",
        "operationId": "CreateComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCommentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "assignee_not_mentioned": {
                    "$ref": "#/components/examples/AssigneeNotMentionedError"
                  },
                  "message_too_long": {
                    "$ref": "#/components/examples/MessageTooLongError"
                  },
                  "invalid_mention_ids": {
                    "$ref": "#/components/examples/InvalidMentionIdsError"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_comments": {
                    "$ref": "#/components/examples/TooManyCommentsError"
                  },
                  "not_allowed_to_comment": {
                    "$ref": "#/components/examples/NotAllowedToCommentError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "design_not_found": {
                    "$ref": "#/components/examples/DesignNotFoundError"
                  },
                  "mentioned_user_not_found": {
                    "$ref": "#/components/examples/MentionedUserNotFoundError"
                  },
                  "mentioned_team_not_found": {
                    "$ref": "#/components/examples/MentionedTeamNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "oauthAuthCode": [
              "comment:write"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/comments/{threadId}/replies": {
      "get": {
        "tags": [
          "comment"
        ],
        "description": "\u003CWarning\u003E\nThis API is currently provided as a preview. Be aware of the following:\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\u003C/Warning\u003E\n\nRetrieves a list of replies for a comment or suggestion thread on a design.\n\nFor information on comments and how they\u0027re used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "ListReplies",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The ID of the thread.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "example": "KeAbiEAjZEj"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "description": "The number of replies to return.",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "description": "If the success response contains a continuation token, the list contains more items you can list. You can use this token as a query parameter and retrieve more items from the list, for example \u0060?continuation={continuation}\u0060.\n\nTo retrieve all items, you might need to make multiple requests.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRepliesResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_allowed_to_fetch_replies": {
                    "$ref": "#/components/examples/NotAllowedToFetchRepliesError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "design_or_thread_not_found": {
                    "$ref": "#/components/examples/DesignOrThreadNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "comment"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\nCreates a reply to a comment or suggestion thread on a design.\nTo reply to an existing thread, you must provide the ID of the thread\nwhich is returned when a thread is created, or from the \u0060thread_id\u0060 value\nof an existing reply in the thread. Each thread can\nhave a maximum of 100 replies created for it.\n\nFor information on comments and how they\u0027re used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "CreateReply",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The ID of the thread.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "example": "KeAbiEAjZEj"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReplyV2Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReplyV2Response"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "message_too_long": {
                    "$ref": "#/components/examples/MessageTooLongError"
                  },
                  "invalid_mention_ids": {
                    "$ref": "#/components/examples/InvalidMentionIdsError"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_replies": {
                    "$ref": "#/components/examples/TooManyRepliesError"
                  },
                  "not_allowed_to_reply": {
                    "$ref": "#/components/examples/NotAllowedToReplyError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "design_or_comment_not_found": {
                    "$ref": "#/components/examples/DesignOrCommentNotFoundForReplyError"
                  },
                  "mentioned_user_not_found": {
                    "$ref": "#/components/examples/MentionedUserNotFoundError"
                  },
                  "mentioned_team_not_found": {
                    "$ref": "#/components/examples/MentionedTeamNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:write"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/comments/{threadId}": {
      "get": {
        "tags": [
          "comment"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\nGets a comment or suggestion thread on a design.\nTo retrieve a reply to a comment thread, use the [Get reply](https://www.canva.dev/docs/connect/api-reference/comments/get-reply/) API.\nFor information on comments and how they\u0027re used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "GetThread",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The ID of the thread.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "example": "KeAbiEAjZEj"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetThreadResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_allowed_to_fetch_comment": {
                    "$ref": "#/components/examples/NotAllowedToFetchCommentError"
                  },
                  "not_allowed_to_fetch_suggestion": {
                    "$ref": "#/components/examples/NotAllowedToFetchSuggestionError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "thread_not_found": {
                    "$ref": "#/components/examples/ThreadNotFoundError"
                  },
                  "thread_not_attached_to_design": {
                    "$ref": "#/components/examples/ThreadNotAttachedToDesignError"
                  },
                  "suggestion_not_found": {
                    "$ref": "#/components/examples/SuggestionNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:read"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/comments/{threadId}/replies/{replyId}": {
      "get": {
        "tags": [
          "comment"
        ],
        "description": "\u003CWarning\u003E\n\nThis API is currently provided as a preview. Be aware of the following:\n\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\n\u003C/Warning\u003E\n\nGets a reply to a comment or suggestion thread on a design.\nFor information on comments and how they\u0027re used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "GetReply",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "The ID of the thread.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "example": "KeAbiEAjZEj"
          },
          {
            "name": "replyId",
            "in": "path",
            "description": "The ID of the reply.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            },
            "example": "KeAZEAjijEb"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReplyResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "not_allowed_to_fetch_reply": {
                    "$ref": "#/components/examples/NotAllowedToFetchReplyError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "reply_not_found": {
                    "$ref": "#/components/examples/ReplyNotFoundError"
                  },
                  "suggestion_reply_not_found": {
                    "$ref": "#/components/examples/SuggestionReplyNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauthAuthCode": [
              "comment:read"
            ]
          }
        ]
      }
    },
    "/v1/designs/{designId}/comments": {
      "post": {
        "tags": [
          "comment"
        ],
        "description": "\u003CWarning\u003E\nThis API is currently provided as a preview. Be aware of the following:\n- There might be unannounced breaking changes.\n- Any breaking changes to preview APIs won\u0027t produce a new [API version](https://www.canva.dev/docs/connect/versions/).\n- Public integrations that use preview APIs will not pass the review process, and can\u0027t be made available to all Canva users.\n\u003C/Warning\u003E\n\nCreates a new comment thread on a design.\nFor information on comments and how they\u0027re used in the Canva UI, see the\n[Canva Help Center](https://www.canva.com/help/comments/).",
        "operationId": "CreateThread",
        "parameters": [
          {
            "name": "designId",
            "in": "path",
            "description": "The design ID.",
            "required": true,
            "schema": {
              "pattern": "^[a-zA-Z0-9_-]{1,50}$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateThreadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateThreadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "assignee_not_mentioned": {
                    "$ref": "#/components/examples/AssigneeNotMentionedError"
                  },
                  "message_too_long": {
                    "$ref": "#/components/examples/MessageTooLongError"
                  },
                  "invalid_mention_ids": {
                    "$ref": "#/components/examples/InvalidMentionIdsError"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "too_many_comments": {
                    "$ref": "#/components/examples/TooManyCommentsError"
                  },
                  "not_allowed_to_comment": {
                    "$ref": "#/components/examples/NotAllowedToCommentError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "design_not_found": {
                    "$ref": "#/components/examples/DesignNotFoundError"
                  },
                  "mentioned_user_not_found": {
                    "$ref": "#/components/examples/MentionedUserNotFoundError"
                  },
                  "mentioned_team_not_found": {
                    "$ref": "#/components/examples/MentionedTeamNotFoundError"
                  }
                }
              }
            }
          },
          "default": {
            "description": "Error Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
[...]
